@use "../../styles/sass/variables/colors";
@use "../../styles/sass/variables/fontSizes";
@use "sass:map";


.base-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background: map.get(colors.$layout, "base-page-background");
}
