@use "../../styles/sass/variables/colors";
@use "../../styles/sass/variables/fontSizes";
@use "sass:map";

.post {
  width: 100%;
  max-width: 324px;
  min-width: 200px;
  background: map.get(colors.$layout, "post-background");
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color:map.get(colors.$layout,"post-border");
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 10px 25px;
  justify-content: space-between;
  transition: all ease-in-out 0.2s;
  cursor: pointer;


  &:hover {
   scale: calc(1.05);
   z-index: 1;
   min-height: 324px;

   .post__title{  white-space: nowrap;
  text-overflow: initial;
  white-space: initial;
  overflow: initial;
  min-height: 70px;
  
}
   .post__body{
    display: block;
   }
   .buttons-container{
    display: flex;
   }
  }

  &__title {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    font-size:map.get(fontSizes.$fontSize,"titles");
    line-height: 21px;
    color: map.get(colors.$text, "post-title");
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__author {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: map.get(fontSizes.$fontSize,"subtitles");
    line-height: 21px;
    color: map.get(colors.$text, "post-author");
  }

  &__body {
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    font-size: map.get(fontSizes.$fontSize,"content");
    height: 90px;
    overflow: hidden;
    display: none;
  
  }

  &__action {
    cursor: pointer;
  }

  .buttons {
    &-container {
      width: 100%;
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center
    }
  }
  .action-button {
    background: transparent;
    border: none;
  
    &__icon{
      color: map.get(colors.$layout, "button-icon");
      font-size: map.get(fontSizes.$fontSize, "action-icons");
    }

    :hover{
      scale: calc(1.2);
      cursor: pointer;
    }
  }

}
