$primary: #e62b70;
$background: #000147;
$background-secondary:#010232;
$background-lighter: #324a6d;
$dark: #333;
$white: #ffffff;
$items-disabled: grey;


$text: (

  "post-title": $background-lighter,
  "post-author": $primary,
  "post-body": $dark,
  "header-title":$primary,
  "header-links":$primary
  );
  
  $layout: (
  "button-icon": $primary,
  "button-background": $primary,
  "post-background": $white,
  "post-border":$background-lighter,
  "list-background":#333399,
  "header-background":$background-secondary,
  "header-shadow":$background-secondary,
  "sidebar-background":$white
);
